
body{
  background:url(coffee-apple.jpg) no-repeat center center fixed;
  -webkik-background:cover;
  -moz-background:cover;
  -o-background:cover;
  background: cover;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
